[CONFIG]
# AcceessKey 用于获取Polardb集群信息。
accessKeyId = XXXXXXXXXXXXXX
accessSecret = XXXXXXXXXXXXXXXXXXXXXXXXXXXX
regionId = cn-hangzhou

# 配置Redis连接信息
REDIS_HOST = IP/HOST
REDIS_PORT = 6379
REDIS_PASS = PASSWORD

# PolarDB数据库普通账号，只创建，不授权访问任何业务数据库，用于执行SHOW PROCESSLIST语句。
DB_USERNAME = USERNAME
DB_PASSWORD = PASSWORD

#目前使用的两种PolarDB规格参数。
medium = {'Max_Connection': 1200, 'Max_IOPS': 8000}
large = {'Max_Connection': 5000, 'Max_IOPS': 32000}
xlarge = {'Max_Connection': 10000, 'Max_IOPS': 64000}

# 慢SQL定义：执行时长超过15秒
SLOWSQL_QUERY_TIME = 15

# 慢SQL的数量：执行时长超过15秒的数据库进程数
SLOWSQL_CONNECTION_COUNT = 1

# PolarDB告警指标定义：连接数使用率、IOPS和CPU使用率，单位百分比% 。
CONNECTION_USAGE = 60
IOPS_USAGE = 80
CPU_USAGE = 90

# 企业微信Webhook Robot
WXWORK_ROBOT_KEY = XXXXXX-a791-47e1-af62-bbXXXXXX71e
WXWORK_USER_LIST = ["USER1", "USER2", ......, "@all"]
